<div class="grid grid-cols-3">
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(1)">1</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(2)">2</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(3)">3</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(4)">4</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(5)">5</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(6)">6</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(7)">7</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(8)">8</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(9)">9</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="key(0)">0</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="value=0">C</span>
    <span class="border basis-1/3 cursor-pointer text-lg text-center" (click)="del()">-</span>
</div>