<!-- This a Dashboard Point of sale system by rahulsya. https://tailwindcomponents.com/component/point-of-sale-system -->

<div class="flex items-center justify-center min-h-screen" *ngIf="!config">
  <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
  <p class="ml-2">Loading POSitif...</p>
</div>

<div class="container mx-auto px-5" *ngIf="config" [ngClass]="{'bg-purple-200': order.refund, 'bg-white': !order.refund}">
  <div class="flex lg:flex-row flex-col-reverse shadow-lg">
    <!-- left section -->
    <div class="w-full lg:w-3/5 min-h-screen shadow-lg">
      <!-- header -->
      <div class="flex flex-row justify-between items-center px-5 mt-5">
        <div class="text-gray-800">
          <div class="font-bold text-xl">{{ config.title }}</div>
          <span class="text-xs">Store #{{ config.ref }} / Terminal #{{ terminal }}</span>
        </div>
        <div class="flex self-start items-center text-sm">
            <div class="font-light text-gray-500">Sync: </div>
            <div  class="ml-2 shadow-sm w-4 h-4 rounded-full cursor-pointer"
                  [ngClass]="{'bg-gray-500': backend.sync == SyncStatus.DEFAULT,
                              'bg-green-500': backend.sync == SyncStatus.OK,
                              'bg-orange-500': backend.sync == SyncStatus.WARNING,
                              'bg-red-500': backend.sync == SyncStatus.ERROR}"
                  (click)="backend.sync_now()">
              <div class="absolute w-4 h-4 rounded-full animate-ping bg-gray-200" *ngIf="backend.syncing"></div>
            </div>
        </div>
      </div>
      <!-- end header -->
      <!-- categories -->
      <div class="mt-5 flex flex-row px-5" *ngIf="categories_list && categories_list.length > 1">
        <div *ngFor="let category of categories_list">
          <span   class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4"
                  [ngClass]="{'bg-cyan-500 text-white': category == active_category, 'cursor-pointer': category != active_category}"
                  (click)="select_category(category)">
            {{ category.name }}
          </span>
        </div>
        <div class="self-end">
          <span   class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4"
                  [ngClass]="{'bg-cyan-500 text-white': active_category == null, 'cursor-pointer': active_category != null}"
                  (click)="select_category(undefined)">
            +
          </span>
        </div>
      </div>
      <!-- end categories -->
      <!-- products -->
      <div class="grid grid-cols-3 gap-4 px-5 mt-5 overflow-y-auto h-3/4 content-start" *ngIf="active_category">
        <div *ngFor="let product of active_category.products" class="cursor-pointer" (click)="add_cart(product)">
          <div class="px-3 py-3 flex flex-row border border-gray-200 rounded-md h-32 justify-between">
            <div class="flex flex-col justify-between">
              <div class="font-bold text-gray-800">{{ product.name }}</div>
              <div class="font-light text-sm text-gray-400 grow whitespace-pre-wrap">{{ product.desc }}</div>
              <div class="font-bold text-lg text-gray-800">{{ product.price }} €</div>
            </div>
            <img src="{{ backend.media_url(product.photo.url) }}" class="self-end h-full object-cover rounded-md" alt="" *ngIf="product.photo">
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 px-5 mt-5 overflow-y-auto h-3/4 content-start" *ngIf="active_category == null">
        <div class="px-3 py-3 flex flex-row border border-gray-200 rounded-md h-32 justify-between">
          <div class="flex flex-col grow">
            <div class="font-bold text-gray-800">Custom product</div>
            <div class="font-light">
              <span class="w-16">Label: </span> <input #customLabel type="text" class="form-input px-4 py-3 h-2 w-4/5 rounded-full">
            </div>
            <div class="font-light"><span class="w-16">Price: </span><input #customPrice type="number" class="form-input px-4 py-3 h-2 w-32 rounded-full" min="0" max="999"> €</div>
            <span class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer self-end"
                  (click)="add_custom(customLabel.value, +customPrice.value); customLabel.value=''; customPrice.value='';">OK</span>
          </div>
        </div>
      </div>
      <!-- end products -->
    </div>
    <!-- end left section -->
    <!-- right section -->
    <div class="w-full lg:w-2/5">
      <!-- header -->
      <div class="flex flex-row items-center justify-between px-5 mt-5">
        <div class="font-bold text-xl" *ngIf="!order.refund">Current order</div>
        <div class="font-bold text-xl" *ngIf="order.refund">Refund order</div>
        <div class="font-semibold space-x-1">
          <span class="px-4 py-2 rounded-md bg-red-100 text-red-500 cursor-pointer" (click)="clear_cart()">Clear all</span>
          <span class="px-4 py-2 rounded-md bg-purple-100 text-purple-800 cursor-pointer" (click)="toggle_refund()">Refund mode</span>
          <span class="px-4 py-2 rounded-md bg-gray-100 text-gray-800 cursor-pointer" (click)="show_last_order()">Last order</span>
        </div>
      </div>
      <!-- end header -->
      <!-- order list -->
      <div class="px-5 py-4 mt-5 overflow-y-auto h-64">
        <div *ngFor="let line of order.lines">
          <div class="flex flex-row justify-between items-center mb-4">
            <div class="flex flex-row items-center w-2/5">
              <img src="{{ backend.media_url(line.product.photo.url) }}" class="w-10 h-10 object-cover rounded-md" alt="" *ngIf="line.product && line.product.photo">
              <span class="ml-4 font-semibold text-sm">{{ line.label }}</span>
            </div>
            <div class="w-32 flex justify-between">
              <span class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer" [ngClass]="{'bg-red-300': line.qty == 1}" (click)="update_cart(line, -1)">-</span>
              <span class="font-semibold mx-4">{{ line.qty }}</span>
              <span class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer" (click)="update_cart(line, +1)">+</span>
            </div>
            <div class="font-semibold text-lg w-16 text-center">
              {{ line.price * line.qty * (order.refund ? -1 : 1) }} €
            </div>
          </div>
        </div>      
      </div>
      <!-- end order list -->
      <!-- totalItems -->
      <div class="px-5 mt-5">
        <div class="py-4 rounded-md shadow-lg">
          <div class="border-t-2 mt-3 py-2 px-4 flex items-center justify-between">
            <span class="font-semibold text-2xl">Total</span>
            <span class="font-bold text-2xl">{{ order.total * (order.refund ? -1 : 1) }} €</span>
          </div>
        </div>
      </div>
      <!-- end total -->

      <!-- buttons -->
      <div class="mt-20" *ngIf="!order.refund">
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-green-500 text-white font-semibold cursor-pointer" (click)="pay('cash');">
            Pay with Cash
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-green-500 text-white font-semibold cursor-pointer" (click)="pay('card');">
            Pay with Card
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-green-500 text-white font-semibold cursor-pointer" (click)="pay('check');">
            Pay with Check
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-yellow-500 text-white font-semibold cursor-pointer" (click)="pay('free');">
            Free order
          </div>
        </div>
      </div>
      <div class="mt-20" *ngIf="order.refund">
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-purple-500 text-white font-semibold cursor-pointer" (click)="pay('cash');">
            Refund with Cash
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-purple-500 text-white font-semibold cursor-pointer" (click)="pay('manual');">
            Manual refund (card, check)
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-purple-500 text-white font-semibold cursor-pointer" (click)="pay('free');">
            Cancel free order
          </div>
        </div>
      </div>
      <!-- end buttons -->
    </div>
    <!-- end right section -->
  </div>
</div>

<div class="relative z-10" *ngIf="modal">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center text-center items-center p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all my-8 w-full max-w-lg">
        <div class="bg-white p-6 pb-4">
          <div class="mt-0 text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Pay with {{ order.payment_method }}</h3>
            <div class="mt-2">
              <div class="flex flex-row" *ngIf="modal == 'cash'">
                <div class="w-1/2">
                  <app-keypad #keypad></app-keypad>
                </div>
                <div class="w-1/2 ml-4">
                  <p>Total: {{ order.total }} €</p>
                  <p>Received: {{ keypad.value }} €</p>
                  <p *ngIf="keypad.value >= order.total">Give back: {{ keypad.value - order.total }} €</p>
                  <p *ngIf="keypad.value < order.total">Missing: {{ order.total - keypad.value }} €</p>
                </div>
              </div>
              <div class="flex-row" *ngIf="modal == 'card'">
                <p class="text-red-500" *ngIf="order.total < 5">Cannot pay by card if total is less than 5€!</p>
                <p *ngIf="order.total >= 5">Please proceed to card payment on terminal...</p>
              </div>
              <div class="flex-row" *ngIf="modal == 'check' || modal == 'manual'">
                <p>Please write payment details: (check number, name, etc.)</p>
                <p><input #details type="text" class="form-input px-4 py-3 h-2 w-full rounded-full"></p>
              </div>
              <div class="flex-row" *ngIf="modal == 'free'">
                <p class="text-sm text-gray-500">Confirm free order?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-6 py-3 flex flex-row-reverse">
          <span class="inline-flex w-auto justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 ml-3 cursor-pointer" (click)="pay_confirm(modal!);">Confirm</span>
          <span class="mt-0 inline-flex w-auto justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 cursor-pointer" (click)="modal=undefined;">Cancel</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10" *ngIf="last_order">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center text-center items-center p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all my-8 w-full max-w-lg">
        <div class="bg-white p-6 pb-4">
          <div class="mt-0 text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Last order ({{ last_order.payment_timestamp | date: 'dd/MM/YYYY HH:mm:ss' }})</h3>
            <div class="px-5 py-4 mt-5 overflow-y-auto h-64">
              <div *ngFor="let line of last_order.lines">
                <div class="flex flex-row justify-between items-center mb-4">
                  <div class="flex flex-row items-center w-2/5">
                    <img src="{{ backend.media_url(line.product.photo.url) }}" class="w-10 h-10 object-cover rounded-md" alt="" *ngIf="line.product && line.product.photo">
                    <span class="ml-4 font-semibold text-sm">{{ line.label }}</span>
                  </div>
                  <div class="w-32 flex justify-between">
                    <span class="font-semibold mx-4">x {{ line.qty * (last_order.refund ? -1 : 1) }} =</span>
                  </div>
                  <div class="font-semibold text-lg w-16 text-center">
                    {{ line.price * line.qty * (last_order.refund ? -1 : 1) }} €
                  </div>
                </div>
              </div>
            </div>
            <div class="px-5 mt-5">
              <div class="py-4">
                <div class="border-t-2 mt-3 py-2 px-4 flex items-center justify-between">
                  <span class="font-semibold text-2xl">Total <span *ngIf="last_order.refund">refund</span></span>
                  <span class="font-bold text-2xl">{{ last_order.total }} €</span>
                </div>
                <div class="italic mt-1 px-4">Paid with {{ last_order.payment_method }}<span *ngIf="last_order.payment_infos"> ({{ last_order.payment_infos }})</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-6 py-3 flex flex-row-reverse">
          <span class="mt-0 inline-flex w-auto justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 cursor-pointer" (click)="last_order=undefined;">Close</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-10" *ngIf="flash_color">
  <div class="fixed inset-0 bg-opacity-50 transition-opacity" [ngClass]="{'bg-green-500': flash_color=='green', 'bg-red-500': flash_color=='red'}"></div>
</div>
