<!-- This a Dashboard Point of sale system by rahulsya. https://tailwindcomponents.com/component/point-of-sale-system -->

<div class="flex items-center justify-center min-h-screen" *ngIf="!config">
  <div style="border-top-color:transparent" class="w-8 h-8 border-4 border-blue-200 rounded-full animate-spin"></div>
  <p class="ml-2">Loading POSitif...</p>
</div>  

<div class="flex flex-col items-center justify-center min-h-screen" *ngIf="config && !unlocked">
    <p class="ml-2">POSitif locked!</p>
    <span class="px-4 py-2 rounded-md bg-gray-100 text-gray-800 cursor-pointer" (click)="unlock_pos()">Unlock POS</span>
</div>

<div class="container mx-auto px-5 bg-white" *ngIf="config && unlocked">
  <div class="flex lg:flex-row flex-col-reverse shadow-lg">
    <!-- left section -->
    <div class="w-full lg:w-3/5 min-h-screen shadow-lg">
      <!-- header -->
      <div class="flex flex-row justify-between items-center px-5 mt-5">
        <div class="text-gray-800">
          <div class="font-bold text-xl">{{ config.title }}</div>
          <span class="text-xs">{{ config.terminal }}</span>
        </div>
        <div class="flex self-start items-center text-sm">
            <div class="font-light text-gray-500">Sync: </div>
            <div  style="border-top-color:transparent"
                  class="ml-2 shadow-sm w-4 h-4 rounded-full cursor-pointer"
                  [ngClass]="{'bg-green-500': sync == SyncStatus.OK,
                              'bg-orange-500': sync == SyncStatus.WARNING,
                              'bg-red-500': sync == SyncStatus.ERROR,
                              'bg-yellow-500': sync == SyncStatus.DOWN}"
                  (click)="sync_now()"></div>
        </div>
      </div>
      <!-- end header -->
      <!-- categories -->
      <div class="mt-5 flex flex-row px-5" *ngIf="categories_list && categories_list.length > 1">
        <div *ngFor="let category of categories_list">
          <span   class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4"
                  [ngClass]="{'bg-cyan-500 text-white': category == active_category, 'cursor-pointer': category != active_category}"
                  (click)="select_category(category)">
            {{ category.name }}
          </span>
        </div>
      </div>
      <!-- end categories -->
      <!-- products -->
      <div class="grid grid-cols-3 gap-4 px-5 mt-5 overflow-y-auto h-3/4 content-start">
        <div *ngFor="let product of products_list" class="cursor-pointer" (click)="add_cart(product)">
          <div class="px-3 py-3 flex flex-row border border-gray-200 rounded-md h-32 justify-between">
            <div class="flex flex-col justify-between">
              <div class="font-bold text-gray-800">{{ product.name }}</div>
              <div class="font-light text-sm text-gray-400 grow whitespace-pre-wrap">{{ product.desc }}</div>
              <div class="font-bold text-lg text-gray-800">{{ product.price }} €</div>
            </div>
            <img src="{{ product.photo }}" class="self-end h-full object-cover rounded-md" alt="">
          </div>
        </div>
      </div>
      <!-- end products -->
    </div>
    <!-- end left section -->
    <!-- right section -->
    <div class="w-full lg:w-2/5">
      <!-- header -->
      <div class="flex flex-row items-center justify-between px-5 mt-5">
        <div class="font-bold text-xl">Current Order</div>
        <div class="font-semibold space-x-1">
          <span class="px-4 py-2 rounded-md bg-red-100 text-red-500 cursor-pointer" (click)="clear_cart()">Clear All</span>
          <span class="px-4 py-2 rounded-md bg-gray-100 text-gray-800 cursor-pointer" (click)="lock_pos()">Lock POS</span>
        </div>
      </div>
      <!-- end header -->
      <!-- order list -->
      <div class="px-5 py-4 mt-5 overflow-y-auto h-64">
        <div *ngFor="let line of order.lines">
          <div class="flex flex-row justify-between items-center mb-4">
            <div class="flex flex-row items-center w-2/5">
              <img src="{{ line.product.photo }}" class="w-10 h-10 object-cover rounded-md" alt="">
              <span class="ml-4 font-semibold text-sm">{{ line.product.name }}</span>
            </div>
            <div class="w-32 flex justify-between">
              <span class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer" [ngClass]="{'bg-red-300': line.qty == 1}" (click)="sub_cart(line.product)">-</span>
              <span class="font-semibold mx-4">{{ line.qty }}</span>
              <span class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer" (click)="add_cart(line.product)">+</span>
            </div>
            <div class="font-semibold text-lg w-16 text-center">
              {{ line.product.price * line.qty }} €
            </div>
          </div>
        </div>      
      </div>
      <!-- end order list -->
      <!-- totalItems -->
      <div class="px-5 mt-5">
        <div class="py-4 rounded-md shadow-lg">
          <div class="border-t-2 mt-3 py-2 px-4 flex items-center justify-between">
            <span class="font-semibold text-2xl">Total</span>
            <span class="font-bold text-2xl">{{ order.total }} €</span>
          </div>
        </div>
      </div>
      <!-- end total -->

      <!-- buttons -->
      <div class="mt-20">
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-green-500 text-white font-semibold cursor-pointer" (click)="pay('cash');">
            Pay with Cash
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-green-500 text-white font-semibold cursor-pointer" (click)="pay('card');">
            Pay with Card
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-green-500 text-white font-semibold cursor-pointer" (click)="pay('check');">
            Pay with Check
          </div>
        </div>
        <div class="px-5 mt-5">
          <div class="px-4 py-4 rounded-md shadow-lg text-center bg-yellow-500 text-white font-semibold cursor-pointer" (click)="pay('free');">
            Free order
          </div>
        </div>
      </div>
      <!-- end buttons -->
    </div>
    <!-- end right section -->
  </div>
</div>